<p id="notice"><%= notice %></p>

<p>
  <strong>Edad:</strong>
  <%= @encuestum.edad %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @encuestum.sexo %>
</p>

<p>
  <strong>Carrera:</strong>
  <%= @encuestum.carrera %>
</p>

<p>
  <strong>Control robot:</strong>
  <%= @encuestum.control_robot %>
</p>

<p>
  <strong>Control neuro:</strong>
  <%= @encuestum.control_neuro %>
</p>

<p>
  <strong>P3:</strong>
  <%= @encuestum.p3 %>
</p>

<p>
  <strong>P4:</strong>
  <%= @encuestum.p4 %>
</p>

<p>
  <strong>P5:</strong>
  <%= @encuestum.p5 %>
</p>

<p>
  <strong>P6:</strong>
  <%= @encuestum.p6 %>
</p>

<p>
  <strong>P7:</strong>
  <%= @encuestum.p7 %>
</p>

<p>
  <strong>P8:</strong>
  <%= @encuestum.p8 %>
</p>

<p>
  <strong>P9:</strong>
  <%= @encuestum.p9 %>
</p>

<p>
  <strong>P10:</strong>
  <%= @encuestum.p10 %>
</p>

<p>
  <strong>P11:</strong>
  <%= @encuestum.p11 %>
</p>

<p>
  <strong>P12:</strong>
  <%= @encuestum.p12 %>
</p>

<p>
  <strong>Exp1:</strong>
  <%= @encuestum.exp1 %>
</p>

<p>
  <strong>Exp2:</strong>
  <%= @encuestum.exp2 %>
</p>

<p>
  <strong>Exp3:</strong>
  <%= @encuestum.exp3 %>
</p>

<p>
  <strong>Exp4:</strong>
  <%= @encuestum.exp4 %>
</p>

<p>
  <strong>Exp5:</strong>
  <%= @encuestum.exp5 %>
</p>

<p>
  <strong>Exp6:</strong>
  <%= @encuestum.exp6 %>
</p>

<p>
  <strong>Exp7:</strong>
  <%= @encuestum.exp7 %>
</p>

<p>
  <strong>Exp8:</strong>
  <%= @encuestum.exp8 %>
</p>

<%= link_to 'Edit', edit_encuestum_path(@encuestum) %> |
<%= link_to 'Back', encuesta_path %>
